<launch>


<node pkg="phidgets" type="motor" name="right_motor" args="_serial:=465084 __name:=right_motor _name:=right_motor"/>

<node pkg="phidgets" type="motor" name="left_motor" args="_serial:=465093 __name:=left_motor _name:=left_motor"/>

<node pgk="dead_reckoning" type="dead_reckoning_node" name="dead_reckoning_node" />


<node pgk="motor_controller" type="motor_controller_node" name="motor_controller_node" />


<node pgk="test_controller" type="circle_test_controller" name="circle_test_controller" />



</launch>
